.hero {
	background-image: url('/main.png');
	background-size: cover;
	// переменные css https://mantine.dev/theming/mantine-provider/#css-variables
	padding-block: var(--mantine-spacing-xl);
	padding-inline: var(--mantine-spacing-xl);

	&_header {
		a {
			color: var(--mantine-color-brand-6);
			text-decoration: none;
		}
	}

	&_content {
		text-align: center;
		margin-top: 100px;
		max-width: 680px;
		margin-inline: auto;

		button {
			border: 2px solid var(--mantine-color-brand-5);
			background-color: white;
			font-weight: 500;
		}
	}
}

.content {
	> div:nth-of-type(2n) {
		text-align: right;

		@media screen and (max-width: 767px) {
			text-align: left;
		}
	}

	&_description {
		align-self: center;
	}

	&_text {
		font-size: 20px;
		padding-top: 10px;
	}

	&_footer {
		text-align: center;
	}

	&_image {
		position: relative;
		height: 240px;
		align-self: center;

		@media screen and (max-width: 767px) {
			display: none;
		}
	}

	&_line {
		display: flex;
		align-items: center;
		justify-content: center;
		> div {
			position: relative;
			height: 120px;
		}
	}
}
